/* Variabes */
/* Mixin's */
body {
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100vh;
    margin: 0 ;
  }
  
  .wrapper {
    height: 400px;
    width: 800px;
    margin: 200px auto;
    color: #fff;
    background-color: black; 
    border: 2px solid #ffa600; 
    border-radius: 10px;
    text-align: center;
}
  
  h1
   {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 2.6em;
    text-align: center;
    text-transform: uppercase;
  }
  
  
  #seconds,
  #tens {
    font-size: 2em;
  }
  
  button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    background: #ffa600;
    color: #fff;
    border: solid 1px #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
  }
  
  button:hover {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: #fff;
    border: solid 1px #fff;
    color: #ffa600;
  }